#dashboard {
  width: 98vw;
  /* border: 1px solid red; */
  height: 100vh;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-areas: "sidebar sidebar sidebar main main main";
  grid-gap: 0;
}

#sidebar {
  grid-area: sidebar;
}

#main {
  grid-area: main;
  height: 93%;
  /* border: 1px solid red; */
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* MEDIA QUERIES */

@media screen and (max-width: 900px) {
  #dashboard {
    grid-template-areas:
      "sidebar"
      "main";
  }
}
